<!DOCTYPE html>
<html>
  <head>
    <title>Hangman</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <div class="transbox">
      <h1> Hangman,  word = <%=word%></h1>
      <form>
        Guess a letter:
        <input type="text" name="guess"/>
        <input type="submit" value="Submit">
      </form>
    </div>

    <div class="transbox2">
      <% status.each do |letter| %>
        <%=  letter %>
      <% end %>
      <p> Your wrong Guesses: <%= wrong_guess%> </p>
    </div>

    <div class="transbox2">
      <% if win_status %>
        <p><%= 'You Won !! (hit submit again to start a new game)' %></p>
      <% elsif wrong_guess.count > 5 %>
          <p><%= 'You Lost !! (hit submit again to start a new game)' %></p>
      <% elsif info %>
        <p><%= 'You Can only submit one lowercase letter' %></p>
      <%end%>
    </div>

  </body>
</html>
